<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>  
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>


        {% extends 'events/base.html' %}
{% block content %}

<form method="POST"  action="{% url 'search_events'  %}" > {% csrf_token %}
        
    <input class="form-control me-2" type="search" placeholder="Search venue" name="searched" aria-label="Search">
    <br/>
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
        


    {% if searched %} 
    
    <h1> Your searched for {{ searched}} </h1>

{% for eventlist  in event %}

<div class="card">
    <div class="card-header">
        {{ eventlist }}
    </div>
    <div class="card-body">
      <h5 class="card-title">Venue: {{ eventlist.venue }}</h5>
      <p class="card-text">
          
<ul>
    <li>Event: {{ eventlist.event_date }}</li>
  
    <li>Manage: magerlarni: {{ eventlist.manager }}</li>
    <li>Desriptions: {{ eventlist.description }}   </li>
    <li>Attendees:
    {% for attends in eventlist.attendees.all %}

    {{ attends }}
    {% endfor %}
</li>
<br/>

</ul>
    
    
    </p>
    </div>
    
    <div class="card-footer text-muted"> 

        <a href ="{% url 'update_event' eventlist.id %}" class="btn btn-outline-primary"  >Update</a>
        {% if user.is_authenticated %}
    {% if user == event.manager %}
    
        <a href ="{% url 'delete_event' eventlist.id %}" class="btn btn-outline-primary"  >Delete</a>
        {% endif %}
        {% endif %}
    </div>
  
</div>
<br/>
<br/>


{% endfor %}

    {% else %}

    <h1> Nothing found  </h1>
    {% endif %}

    
 

{% endblock %}
    </body>
</html>